[user]
  email = bhsiung@linkedin.com
  name = Biing-yann Hsiung (bear)
[alias]
	c = cherry-pick
	ci = commit
	co = checkout
	mg = merge
	r = rebase
	st = status
	rc = review create
	rd = review dcommit
	ru = review update
[core]
	editor = /usr/local/Cellar/vim/8.0.0559/bin/vim
