[user]
  email = bhsiung@linkedin.com
  name = Biing-yann Hsiung (bear)
[alias]
	b = branch
	c = cherry-pick
	ci = commit
	co = checkout
	mg = merge
	r = rebase
	sh = stash
	st = status
	rc = review create
	rd = review dcommit
	ru = review update
[core]
	editor = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
